*{
	margin:none;
	padding:none;
}

body{
	margin:20px;
}

a{
	text-decoration: none;
	color:black;
	transition: 0.5s;
}

a:hover{
	color:#4cace4;
	display:inline-block;
	transform: scale(1.1,1.1);
}

.navbar div{
	margin-right:50px;
}



.navbar{
	position:relative;
	font-size:25px;
}

.navbar div{
	margin:0px 35px;
	display:inline-block;
}

.navbar .logo{

}

.navbar .logo img{
	width:130px;
	height:80px;
}

.aboutus h1{
	font-family: 'Lobster', cursive;
}

.aboutus h2{
	font-family: 'Alegraya Sans', sans-serif;
	font-weight: bold;
}

.seeall {
	color:#4cace4;
	cursor: pointer;
	transition: 0.5s;
}

.seeall:hover{
	color:#4cace4;
	transform: scale(1.1);
}

.socialmedia{
	text-align: center;
}

.socialmedia .icon{
	font-size:100px;
	margin:0px 40px;
}
