*{
	margin:none;
	padding:none;
}

body{
	margin:20px;
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
	color:#4cace4;
	border-bottom:solid 2px #4cace4;
}

.navbar{
	position:relative;
	font-size:25px;
}

.navbar div{
	margin-right:35px;
	display:inline-block;
}

.navbar .logo{

}

.navbar .logo img{
	width:130px;
	height:80px;
}